{% extends "page.html.twig" %}
{% block body %}
    <div class="row column text-center not-found">
        <h1>404 page not found</h1>
        <p>Sorry, we couldn't find what you're looking for.</p>
    </div>
{% endblock %}