<div class="row">
    <div class="small-12 medium-6 columns medium-order-2">
        <img src="{{ panel.image.url }}"/>
    </div>
    <div class="small-12 medium-6 columns medium-order-1">
        {{ panel.content }}
    </div>
</div>