<nav class="sharethis">
    <span class='st_sharethis_large st_custom' displayText='ShareThis'></span>
    <span class='st_facebook_large st_custom' displayText='Facebook'></span>
    <span class='st_twitter_large st_custom' displayText='Tweet'></span>
    <span class='st_linkedin_large st_custom' displayText='LinkedIn'></span>
    <span class='st_pinterest_large st_custom' displayText='Pinterest'></span>
    <span class='st_email_large st_custom' displayText='Email'></span>
</nav>