<section class="hero-video" style="background-image: url('{{ panel.video_background.url }}')">
    <div class="row align-middle">
        <div class="column">
            <div class="content">
                {{ panel.video_content }}
            </div>
            <a href="{{ panel.video_embed }}" class="fancybox-media">Click to play</a>
        </div>
    </div>
</section>