.basic_content {
  padding: $global-padding*3 0;
  color: $dark-gray;
  p {
    font-size: rem-calc(14px);
  }

  .drop_content {
    color: #254e54;
    p {
      font-size: rem-calc(21px);
      line-height: 1.2;
    }
    .drop-letter {
      font-weight: bold;
      font-size: rem-calc(54px);
      float: left;
      line-height: 1;
      margin-bottom: rem-calc(-4px);
      padding-right: rem-calc(8px);
    }
  }
}