.sticky-container {
  z-index: 10;
}
.sticky {
  background-color: $body-background;
  width: 100% !important;
  max-width: none !important;
  z-index: 10;
  .top {
    background-color: $light-gray;
    font-size: rem-calc(18px);
    .fa {
      font-size: rem-calc(20px);
    }
    .menu {
      a {
        font-size: rem-calc(22px);
      }
      .button {
        font-size: rem-calc(16px);
        text-transform: uppercase;
        padding: $global-padding;
      }
    }
  }
  .bottom {
    padding: $global-padding/2 0 $global-padding*2 0;
    background-image: url('../images-min/header-bar.min.png');
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    font-family: $header-font-family;
    a {
      color: #254e54;
      &:hover {
        color: $anchor-color-hover;
      }
    }
    ul.align-right > li:first-of-type > a {
      padding-left: 0;
    }
    ul.align-right > li:last-of-type > a {
      padding-right: 0;
    }
    .dropdown.menu > li.is-dropdown-submenu-parent > a {
      &::after {
        content: "\f107";
        border: none;
        font-family: "FontAwesome";
        margin-top: -6px;
        right: 1rem;
      }
    }
    .is-dropdown-submenu .is-dropdown-submenu-parent.opens-left > a::after {
      content: "\f105";
      font-family: "FontAwesome";
      border: none;
      margin-top: -8px;
    }
    .is-dropdown-submenu .is-dropdown-submenu-parent.opens-right > a::after {
      content: "\f105";
      font-family: "FontAwesome";
      border: none;
      margin-top: -8px;
    }
    .dropdown.menu.align-right .is-dropdown-submenu.first-sub {
      top: 100%;
      left: 0;
      right: auto;
    }
    .is-dropdown-submenu-parent.opens-left > .is-dropdown-submenu {
      left: 100%;
      right:auto;
    }
    .button {
      color: $white;
      &:hover {
        color: $white;
      }
    }
    .schedule {
      display: none;
    }
    .home img {
      height: rem-calc(48px);
      width: 100%;
    }
  }
  .large-menu {
    display: none;
    @include breakpoint(large){
      display: block;
    }
  }
  .mobile-menu-bar {
    padding: $global-padding/2 0;
    img {
      max-height: 48px;
    }
    .fa {
      font-size: rem-calc(48px);
      color: $secondary-color;
    }
    .fa-bars {
      font-size: 0;
      display: inline-block;;
      background-image: url('../images-min/mobile-menu.min.jpg');
      width: 38px;
      height: 34px;
    }
  }
  .mobile-menu {
    .primary.button {
      text-align: left;
      margin: 0;
      width: 100%;
    }
    .menu.vertical {
      background-color: $light-gray;
      a {
        color: $dark-gray;
        &:hover {
          color: $anchor-color-hover;
        }
      }
      .menu.nested {
        margin: 0;
        padding-left: $global-padding;
        a {
          font-size: 90%;
        }
      }
      .is-accordion-submenu-parent > a::after {
        right: auto;
        display: inline-block;
        border: none;
        content: "\f105";
        font-family: "FontAwesome";
        padding-left: $global-padding/2;
        margin-top: rem-calc(-6px);
      }
      .is-accordion-submenu-parent[aria-expanded="true"] > a::after {
        content: "\f107";
        margin-top: rem-calc(12px);
      }
    }
  }
}
.sticky-container {
  @include breakpoint(small only) {
    height: rem-calc(64px) !important;
  }
}
.is-stuck {
  .top {
    display: none;
  }
  .bottom {
    .home img {
      height: rem-calc(32px);
      width: auto;
      max-width: none;
      max-height: none;
      transition: height linear 500ms;
    }

    .schedule {
       display: flex;
       a {
         padding: $button-padding !important;
       }
     }
  }
}