.hero-video {
  color: $white;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  padding: $global-padding*2 0 $global-padding*4;
  font-size: rem-calc(24px);
  .align-middle {
    min-height: rem-calc($global-padding * 15);
    @include breakpoint(medium) {
      min-height: rem-calc($global-padding * 25);
    }
    @include breakpoint(large) {
      min-height: rem-calc($global-padding * 35);
    }
  }
  .fancybox-media {
    color: $white;
    display: inline-block;
    margin: 0 auto $global-padding auto;
    &:after {
      content: "";
      display: inline-block;
      position: relative;
      margin-left: $global-padding;
      top: rem-calc(60px);
      width: rem-calc(118px);
      height: rem-calc(125px);
      background-image: url('../images-min/video-icon.min.png');
      background-repeat: no-repeat;
      background-position: right center;
    }
  }
}