.team {
  padding: $global-padding*2 0;
  h3 {
    text-align: center;
    color: $secondary-color;
    &::after {
      content: " ";
      display: block;
      height: 2px;
      width: $global-padding*2.5;
      background-color: $primary-color;
      margin: $global-margin*0.6 auto $global-margin;
    }
  }
  .member {
    text-align: center;
    margin-bottom: $global-margin*2;
    .profile {
      position: relative;
      display: block;
      &:hover {
        img:last-of-type {
          visibility: visible;
        }
      }
      img {
        border: 8px solid $medium-gray;
        border-radius: 100%;
        margin-bottom: $global-margin;
        &:last-of-type {
          position: absolute;
          top: 0;
          left: 2px;
          visibility: hidden;
        }
      }
    }
    h4 {
      color: $primary-color;
    }
    h6 {
      color: #254e54;
    }
  }
}
.member-lightbox {
  display: none;
  color: $dark-gray;
  .large-4 {
    text-align: center;
  }
  a {
    display: block;
    margin-bottom: $global-margin;
  }
  img {
    border: rem-cacl(8px) solid $medium-gray;
    border-radius: 100%;
    margin-bottom: $global-margin;
  }
  h3 {
    color: $secondary-color;
    margin: 0;
  }
  h5 {
    font-size: rem-calc(18px);
  }
  h6 {
    color: #254e54;
    &::after {
      content: " ";
      display: block;
      height: 2px;
      width: $global-padding*1.5;
      background-color: $primary-color;
      margin: $global-margin*1.1 0 $global-margin*1.2;
    }
  }
  h5 {
    color: $secondary-color;
    margin: 0;
  }
}