@import "settings";
@import "font-awesome";
@import "foundation";
@include foundation-everything(true);
@import "supertheme";

@import "case_study";
@import "gforms";
@import "panels/basic_content";
@import "panels/banner_header";
@import "panels/footer";
@import "panels/header";
@import "panels/hero_video";
@import "panels/navigation_content";
@import "panels/comparison_table";
@import "panels/insurance";
@import "panels/service";
@import "panels/accordion";
@import "panels/team";
@import "panels/cases";
@import "panels/appointment";
@import "panels/left_content";
@import "panels/right_content";
@import "panels/center_content";

.archive, .single-post {
  .author-bar {
    display: none;
    @include breakpoint (large) {
      display: block;
    }
    .year {
      margin-top: rem-calc(10px);
      font-size: rem-calc(12px);
    }
  }
  .content-wrapper > .large-9{
    @include breakpoint(large) {
      padding-right: $global-padding*3 !important;
    }
  }
  .row.post-type-post {
    margin: 0;
  }
}

.not-found {
  padding: $global-padding*2 0;
  @include breakpoint(medium) {
    padding: $global-padding*6 0;
  }
  @include breakpoint(medium) {
    padding: $global-padding*8 0;
  }
  h2 {
    color: $secondary-color;
  }
}

// lightbox
.fancybox-close {
  background-image: url('../images-min/close-icon.min.png');
  background-size: 100%;
  top: -40px;
  right: 0;
  width: rem-calc(27px);
  height: rem-calc(27px);
  &:hover {
    opacity: 0.8;
  }
}

.fancybox-wrap {
  top: 116px !important;
  @media screen and (max-width: 800px) {
    width: calc(100% - 40px) !important;
  }
}
.fancybox-skin {
  border-radius: 0;
  background-image: url("../images-min/lightbox-bar.min.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: top center;
  padding: $global-padding*5 $global-padding $global-padding $global-padding !important;
  @include breakpoint(medium) {
    padding: $global-padding*2 !important;
  }
}
.fancybox-inner {
  @media screen and (max-width: 800px) {
    width: 100% !important;
  }
}

.fancybox-type-iframe
{
  .fancybox-skin {
    padding: 0 !important;
    background-image: none;
  }
  .fancybox-inner {
    width: 100% !important;
  }
}
// slider
.slick-slider {
  position: relative;
  margin: 0 auto;
  .slick-slide {
    height: auto;
  }
  .slick-arrow {
    height: auto;
    width: auto;
  }
  .slick-next {
    @include breakpoint(large) {
      right:rem-calc(-45px);
    }
    &:before {
      content: "\f105";
      font-family: FontAwesome;
      font-style: normal;
      font-size: rem-calc(45px);
      color: $primary-color;
      position: relative;
      top: rem-calc(-2px);
      @include breakpoint(large) {
        font-size: rem-calc(75px);
      }
    }
  }
  .slick-prev {
    @include breakpoint(large) {
      left: rem-calc(-45px);
    }
    &:before {
      content: "\f104";
      font-family: FontAwesome;
      font-style: normal;
      font-size: rem-calc(45px);
      color: $primary-color;
      position: relative;
      top: rem-calc(-2px);
      @include breakpoint(large) {
        font-size: rem-calc(75px);
      }
    }
  }
}
.slick-dotted.slick-slider {
  margin-bottom: rem-calc(9px);
}

// scroll to top
.scroll-top {
  border-radius: 100%;
  bottom: 3rem;
}

//blog changes
.archive .sidebar {
  h1, h2, h3, h4, h5, h6 {
    color: $secondary-color;
  }
}
.post-type-post {
  color: $dark-gray;
  h1, h2, h3, h4, h5, h6 {
    color: $secondary-color;
  }
  .share {
    .sharethis > span {
      display: inline-block;
      background-color: $secondary-color;
      width: rem-calc(36px);
      height: rem-calc(32px);
      text-align: center;
      &:hover {
        cursor: pointer;
        background-color: scale-color($secondary-color, $lightness: 15%);
      }
      &::before {
        font-family: FontAwesome;
        color: $white;
        font-size: rem-calc(19px);
        position: relative;
        top: rem-calc(2px);
      }
    }
    .st_sharethis_custom::before {
      content: "\f1e0"
    }
    .st_facebook_custom::before {
      content: "\f09a ";
    }
    .st_twitter_custom::before {
      content: "\f099";
    }
    .st_linkedin_custom::before {
      content: "\f0e1";
    }
    .st_pinterest_custom::before {
      content: "\f231";
    }
    .st_email_custom::before {
      content: "\f003";
    }
  }
}

// sachins changes that havent been cleaned up yet
@media screen and (min-width: 43.75em) {
  .fancybox-wrap {
    width: 700px !important;
  }

  .fancybox-inner {
    width: 650px !important;
  }

  .case_study-teaser {
    margin-bottom: 28px;
  }

  .archive-case_study .content-wrapper a h2 {
    font-size: 1.55rem !important;
  }

  @media screen and (min-width: 75em) {
    .sticky .mobile-menu-bar {
      display: none !important;
    }

  }
}

@media screen and (min-width: 700px) and (max-width:1199px){
  .sticky-container {
    height: 64px !important;
  }
}
@media screen and (min-width: 768px) and (max-width:1024px){
  .sticky-container {
    height: 64px !important;
  }
}
.single-case_study .panel cite {
  display: none;
}
.post-type-post {
  color: #7c7c7c;
}
.post-type-post h1, .post-type-post h2, .post-type-post h3, .post-type-post h4, .post-type-post h5, .post-type-post h6 {
  a {
    color: $secondary-color;
  }
}