@import "settings";
@import "font-awesome";
@import "foundation";
@include foundation-everything(true);
@import "supertheme";

@import "panels/basic_content";
@import "panels/banner_header";
@import "panels/footer";
@import "panels/header";
@import "panels/hero_video";
@import "panels/navigation_content";
@import "panels/comparison_table";
@import "panels/insurance";
@import "panels/service";
@import "panels/accordion";
@import "panels/team";

#appointment {
  display: none;
}


// lightbox
.fancybox-close {
  background-image: url('../images-min/close-icon.min.png');
  background-size: 100%;
  top: -60px;
  right: 0;
  &:hover {
    opacity: 0.8;
  }
}

.fancybox-wrap {
  top: 116px !important;
  @media screen and (max-width: 800px) {
    width: calc(100% - 40px) !important;
  }
}
.fancybox-skin {
  border-radius: 0;
  background-image: url("../images-min/lightbox-bar.min.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: top center;
  padding-top: $global-padding*3 !important;
}
.fancybox-inner {
  @media screen and (max-width: 800px) {
    width: 100% !important;
  }
}

// slider
.slick-slider {
  position: relative;
  margin: 0 auto;
  .slick-slide {
    height: auto;
  }
  .slick-arrow {
    height: auto;
    width: auto;
  }
  .slick-next {
    @include breakpoint(large) {
      right:rem-calc(-45px);
    }
    &:before {
      content: "\f105";
      font-family: FontAwesome;
      font-style: normal;
      font-size: rem-calc(45px);
      color: $primary-color;
      position: relative;
      top: rem-calc(-2px);
      @include breakpoint(large) {
        font-size: rem-calc(75px);
      }
    }
  }
  .slick-prev {
    @include breakpoint(large) {
      left: rem-calc(-45px);
    }
    &:before {
      content: "\f104";
      font-family: FontAwesome;
      font-style: normal;
      font-size: rem-calc(45px);
      color: $primary-color;
      position: relative;
      top: rem-calc(-2px);
      @include breakpoint(large) {
        font-size: rem-calc(75px);
      }
    }
  }
}

.slick-dotted.slick-slider {
  margin-bottom: rem-calc(9px);
}